#components-layout-demo-fixed .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.2);
  }
  .site-layout .site-layout-background {
    background: #fff;
  }
  .LogoutButton{
    height: 40px !important;
    background: #2F61F5 0% 0% no-repeat padding-box !important;
    border-radius: 4px !important;
    opacity: 1;
    color: white !important;
    text-align: center;
  }