.actionCardCarousal{
    background: #F5532F;
    box-shadow: 0px 2px 20px #AAAAAA29;
    border-radius: 0px;
    padding: 35px;
}

.carouselText1{
    font: normal normal bold 23px/20px Oswald;
    letter-spacing:0px;
    font-size: 53px;
    margin:15px 0px;
    color: #FFFFFF;

}
.carouselText11{
    font: normal normal bold 23px/20px Oswald;
    letter-spacing: 0px;
    font-size: 20px;
    color: #FFFFFF;

}
.carouselText2{
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 14px;
    line-height:15px;

}

.carouselText3{
    width: 130px!important;
    height: 38px!important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    opacity: 1;
    border-radius: 4px!important;
}
