@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


.formBox{   
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #CCCCCC29;
    opacity: 1;
    padding: 2rem;
    width: 100vw;
}
.symptomsBox{
    display: flex !important;
    justify-content: space-around !important;
    flex-wrap: wrap !important;
    width: 100vw;
  }

.superText{ 
    text-align: left;
    font: normal normal bold 27px/27px Raleway;
    letter-spacing: 0px;
    margin-bottom: 0;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
}
.spanText{
    color:rgb(245, 83, 48);
}
.subText{
    width: 164px;
    margin:10px 0;
    text-align: left;
    font: normal normal normal 12px/15px Lato;
    letter-spacing: 0px;
    color: #8E8E8E;
    opacity: 1;
}

.symptomsBox{
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap !important;
  }

  .selectedcheckBox1{
    width: 48%;
    height: 72px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    opacity: 1;
    margin-bottom: 12px;
    cursor: pointer;
  
  }
  .text{
    font: normal normal normal 14px/17px Lato;
    letter-spacing: 0px;
    margin-top: 6px;
    font-size: 10px;
    color: #000000;
    cursor: pointer;
  }
  
  .iconBox{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      
  }
  .image{
      height: 2.2rem;
      cursor: pointer;
  }

  .Button{
    height: 40px !important;
    background: #2F61F5 0% 0% no-repeat padding-box !important;
    border-radius: 4px !important;
    opacity: 1;
    color: white !important;
    text-align: center;
    margin-top: 10px;
}


/* section 2 */

.subTitle{
    height: 17px;
    text-align: left;
    font: normal normal normal 14px/9px Lato;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.selected{
    width: 48%;
    height: 72px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #2F61F5;
    border-radius: 4px;
    opacity: 1;
    margin-bottom: 12px;
}

@media screen and (min-width:600px) {
    .formBox{
        width: 100vw;
    }
    .symptomsBox{
        display: flex !important;
        justify-content: space-around !important;
        flex-wrap: wrap !important;
        margin: 0 auto;
        width: 80vw;
    }
    .Button{
        width: 60vw !important;
        margin: 10px auto;
    }
 
}