@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
body {
  background-color: #f7f9ff !important;
}

/* ant select input */
.ant-select-selector {
  height: 40px !important;
  border-radius: 4px !important;
  background-color: white !important;
}

/* radio button side line */

.ant-radio-button-wrapper:not(:first-child)::before {
  width: 0px !important;
  height: 0% !important;
}

/* antd radio buttons */

.ant-radio-button-wrapper {
  background: #f7f9ff 0% 0% no-repeat padding-box !important;
  border: 1px solid #e8e8e8 !important;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked {
  color: #fff;
  background: #2f61f5 !important;
  border-color: #40a9ff;
}

/*Select input styles*/
.ant-select-selection-placeholder {
  margin-top: 3.5px !important;
}

.ant-select-selection-search-input {
  margin-top: 3.5px !important;
}
