@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body{
  background-color: #F7F9FF!important;
}

/* ant select input */
.ant-select-selector{
  height: 40px!important;
  border-radius: 4px!important;
  background-color: white!important;
  
}


/* radio button side line */

.ant-radio-button-wrapper:not(:first-child)::before{
  width: 0px !important;
  height: 0% !important;
}

/* antd radio buttons */

.ant-radio-button-wrapper {
  background: #F7F9FF 0% 0% no-repeat padding-box !important;
    border: 1px solid #E8E8E8 !important;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked{
  color: #fff;
  background: #2F61F5!important;
  border-color: #40a9ff;
}